@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik&display=swap');
/* Resetar o estilo do navegador */
*{
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}